# Python
__pycache__/
*.py[cod]
*.so
env/
venv/

# DBT
target/
dbt_modules/

# Airflow
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Envs et secrets
.env
create_tables.sql
superset_config.py

# IDE
.idea/
.vscode/
# Ignorer tous les fichiers de log
logs/
