# 1) Variables d’environnement
.env

# 2) Fichiers Python compilés
__pycache__/
*.py[cod]

# 3) Logs (Airflow, dbt, etc.)
logs/
*.log

# 4) DBT
statsbomb_dbt/target/
statsbomb_dbt/dbt_packages/
statsbomb_dbt/.temp/
statsbomb_dbt/logs/

# 5) Profils DBT (contiennent tes credentials)
dbt_profiles/

# 6) IDEs / éditeurs
.vscode/
.idea/

# 7) Systèmes
.DS_Store
